<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet"> 
    
    <link rel="stylesheet" type="text/css" href="../css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../css/geral.css">
    <link rel="stylesheet" type="text/css" href="../css/dropdown.css">
    <link rel="stylesheet" type="text/css" href="../css/navbar.css">

    <link rel="stylesheet" type="text/css" href="../css/area_clientes/style.css">
    <title>Área do Cliente</title>
</head>
<body>
    <%- include('partials/_navbar',{page: "clientes"});%>

    

    <section class="main-content">
        <div class="container">
            <div class="pedido-btn">
                <a href="/clientes/pedido">Novo pedido</a>
            </div>
            <div class="container-body">
                <% pedidos.forEach(function(pedido){ %>
                        <div class="pedido">
                            <hr>
                            <div class="pedido-info">
                                <h3>Pizza:</h3>
                                <p><%= pedido.pizza %></p>
                                <hr>
                                <h3>Quantidade:</h3>
                                <p><%= pedido.qtd %></p>
                                <hr>
                                <h3>Endereço:</h3>
                                <p><%= pedido.endereco %></p>
                                <hr>
                                <h3>Status:</h3>
                                <p><%= pedido.info %></p>
                                <%if(pedido.info == "Cancelado"){%>
                                    <hr>
                                    <h4>Motivo de cancelamento:</h4>
                                    <p><%= pedido.motivo %></p>
                                <%}%>
                                <hr>
                                <h3>Id do pedido:</h3>
                                <p><%= pedido._id %></p>
                            </div>
                        </div>
                <% }); %>
                      
                <!--  -->
            </div>
        </div>
    </section>
</body>
</html>